.header {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../img/hero-bgr.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &__greenlink {
        padding-bottom: 80px;
    }
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
