.header-lower {
    text-align: center;

    &__heading {
        color: #ffffff;
        font-family: "Source Sans Pro";
        font-size: 35px;
        font-weight: 300;
        line-height: 70px;
        text-transform: uppercase;
        letter-spacing: 3px;
        // padding-top: 20vh;
    }
    &__text {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}
