.portfolio-bgr {
  background-color: #f3f3f3;
}

.portfolio {
    background-color: #f3f3f3;

    &__heading {
        text-align: center;
        color: #333b46;
        font-family: "Source Sans Pro";
        font-size: 20px;
        font-weight: 300;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    &__description {
        width: 40%;
        margin: 0 auto;
        text-align: center;
        color: #81868e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 80px;
    }
}

.container.portfolio {
    background-color: #f3f3f3;
}

.portfolio-buttons {
    width: 40%;
    text-align: center;
    margin: 0 auto;

    &__item {
        color: #464646;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 12px;
        box-sizing: border-box;
        padding-bottom: 15px;
        width: 80px;
        background: none;
        border: none;
        // border-bottom: 2px solid black;
        position: relative;
        top: 0;
        left: 0;

        &--active {
            &:before {
                position: absolute;
                bottom: 0;
                left: 20px;
                width: 50%;
                border-bottom: 3px solid #11be9b;
                content: "";
            }
        }
    }
}

.grid {
  text-align: center;
    margin-top: 60px;
    box-sizing: border-box;
  padding-bottom: 70px;
    &__grid-item {
        padding-bottom: 10px;
    }
}
