@import "_header";
@import "_portfolio";
@import "_team";
@import "_contactus-form";
@import "_testimonials";
@import "_contact-with-map";
@import "_footer.scss";


#toTop {
position:fixed;
bottom:50px; /* отступ кнопки от нижнего края страницы*/
right:50px;
cursor:pointer;
display:none;
}

*:focus {
outline: none;
}

.fa-hover {
  color: #11be9b !important;
}
button,a {
  cursor: pointer;
}
