@import "_header";
@import "_header-upper";
@import "_header-lower";
@import "_portfolio";
@import "_portfolio-buttons";
@import "_portfolio-grid";
@import "_team";
@import "_team-slider";
@import "_contactus-form";
@import "_testimonials";
@import "_test-slider";
@import "_contact-with-map";
@import "_footer.scss";
@import "_sm-block";
@import "_back-to-top";

*:focus {
outline: none;
}

.fa-hover {
  color: #11be9b !important;
}
button,a {
  cursor: pointer;
}


.container.portfolio {
  text-align: center;
}
