@charset "UTF-8";
.header {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("../img/hero-bgr.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  .header__greenlink {
    padding-bottom: 80px; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.header-upper {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4vh;
  box-sizing: border-box; }

.logo-block {
  margin: 15px 0; }

.nav-block {
  width: 27%; }
  .nav-block__list {
    display: flex;
    justify-content: space-between; }
  .nav-block__li-link {
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    padding: 3px 20px;
    border: 1px solid transparent;
    border-radius: 15px; }
    .nav-block__li-link:hover {
      border: 1px solid #fff; }

.header-lower {
  text-align: center; }
  .header-lower__heading {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-weight: 300;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .header-lower__text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; }

.portfolio-bgr {
  background-color: #f3f3f3; }

.portfolio {
  background-color: #f3f3f3; }
  .portfolio__heading {
    text-align: center;
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 40px; }
  .portfolio__description {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 80px; }

.container.portfolio {
  background-color: #f3f3f3; }

.portfolio-buttons {
  width: 40%;
  text-align: center;
  margin: 0 auto; }
  .portfolio-buttons__item {
    color: #464646;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    box-sizing: border-box;
    padding-bottom: 15px;
    width: 80px;
    background: none;
    border: none;
    position: relative;
    top: 0;
    left: 0; }
    .portfolio-buttons__item--active:before {
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 50%;
      border-bottom: 3px solid #11be9b;
      content: ""; }

.grid {
  text-align: center;
  margin-top: 60px;
  box-sizing: border-box;
  padding-bottom: 70px; }
  .grid__grid-item {
    padding-bottom: 10px; }

.team__heading {
  text-align: center;
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 80px;
  padding-bottom: 40px; }
.team__text {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #81868e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 60px; }

.slide {
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex !important;
  justify-content: space-between; }
  .slide__photo {
    width: 49%;
    margin-left: 40px; }
  .slide__info {
    width: 40%;
    text-align: right; }
  .slide__heading {
    color: #464646;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    margin-top: 20px;
    padding-right: 40px;
    border-right: 3px solid #11be9b; }
  .slide__heading2 {
    color: #81868e;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 25px;
    text-transform: uppercase;
    padding-right: 40px; }
  .slide__text {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding-right: 40px; }

.contact-us {
  margin-top: 80px;
  text-align: center;
  background-image: url("../img/contact-us-bgr.png");
  background-size: cover;
  width: 100%; }
  .contact-us__heading {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 25px; }
  .contact-us__button {
    display: inline-block;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 50px; }

.testimonials {
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 80px; }
  .testimonials__heading {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 0; }
  .testimonials__text {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 30%;
    margin: 0 auto 60px; }

.slick-dots {
  padding-bottom: 60px;
  background-color: #fff;
  bottom: -70px; }

.slick-dots li button:before {
  font-size: 14px;
  color: rgba(17, 190, 155, 0.5); }

.slick-dots li.slick-active button:before {
  opacity: 1;
  font-size: 14px;
  color: #11be9b; }

.test-slider {
  background-color: #fff; }

.test-slide {
  display: flex !important;
  padding: 50px 100px;
  box-sizing: border-box; }
  .test-slide__pic {
    width: 169px;
    height: 169px; }
  .test-slide__info {
    text-align: left;
    width: 70%;
    padding-left: 75px; }
  .test-slide__text {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; }
  .test-slide__heading {
    color: #19bd9a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .test-slide__heading2 {
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase; }

.contact-map {
  text-align: center; }
  .contact-map__heading {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 0; }
  .contact-map__text {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px; }

#map-main {
  width: 100%;
  height: 60vh; }

.footer {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 80px; }
  .footer__copyright {
    display: block;
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 25px; }

.social-media {
  width: 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .social-media__link {
    text-decoration: none; }
  .social-media__ico {
    font-size: 72px; }
  .social-media__icobgr--fb {
    color: #3b5998; }
  .social-media__icobgr--twit {
    color: #26a6d1; }
  .social-media__icobgr--linkin {
    color: #0e76a8; }
  .social-media__icobgr--insta {
    color: #3f729b; }
  .social-media__icobgr--vimeo {
    color: #86c9ef; }

#backToTop {
  position: fixed;
  bottom: 50px;
  /* ╨╛╤В╤Б╤В╤Г╨┐ ╨║╨╜╨╛╨┐╨║╨╕ ╨╛╤В ╨╜╨╕╨╢╨╜╨╡╨│╨╛ ╨║╤А╨░╤П ╤Б╤В╤А╨░╨╜╨╕╤Ж╤Л*/
  right: 50px;
  cursor: pointer;
  display: none; }

*:focus {
  outline: none; }

.fa-hover {
  color: #11be9b !important; }

button, a {
  cursor: pointer; }

.container.portfolio {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
